
/* Party balls */
.party{
  z-index: 10;
  border-radius: 50%;
  cursor: grab;
  text-align: center;
  align-items: center; 
  justify-content: center;
  display: inline-flex;
  position: absolute;
  font-size: large;
}

.party p{
  mix-blend-mode: difference;
}

.partyName{
  text-align: center;
  vertical-align: middle;
}

/* Draggin area */
#government {
  position:fixed;
  left: 10px;
  bottom: 2px;
  width: 70%;
  height: 45%;
  border: 5px solid;
  background: #999;
  z-index: -100;
  padding-left: 5px;
}

#opposition {
  position:fixed;
  left: 10px;
  width: 70%;
  height: 45%;
  border: 5px solid;
  background: #999;
  z-index: -100;
  padding-left: 5px;
}

/* Modal component*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Side panel */

#side-panel{
  border: 1px;
  float:right;
  position: fixed;
  top: 0px;
  width: 25%;
  height: 100%;
  right: 2px;
  text-align: center;
}